
@import 'typography';

.page {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.heading-text {
	font-family: visby;
	font-size: 0.8em;
}

.heading-header {
	font-family: visby;
	margin-bottom: 0.2em;
}

.heading-content {
	justify-content: center;
	background-image: url('../images/day_bg_12.svg');
	padding-bottom: 2em;
	padding-top: 3em;
}

.menu {
	padding-left: 1em; 
	padding-top: 2em;

	border-radius: 1em;
	background-color: white;
	margin-top: -1em;
	margin-bottom: auto;
}