.cardBanner {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.cardDetails {
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0px;
  margin-left: 5px;
}

.cardImageContainerSmall {
  padding: 10px;
  height: 60%;
}

.cardImageContainerMedium {
  padding: 10px;
  height: 70%;
}

.cardImageContainerLarge {
  padding: 10px;
  height: 80%;
}

.cardLogo {
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.cardTitle {
  margin: 10px;
  font-size: 10px;
}

.partOne {
  display: flex;
  font-family: visby;
}

.partTwo {
  display: flex;
  justify-content: center;
  font-family: visby
}

.blur {
  height: 100%;
}