.masonry_list {
  background-color: #e8e9eb;
  padding: 0 0 100px 0;
  width: 100%;
  left: 50%;
  margin: 70px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-auto-rows: 10px;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
}

.deliverTo {
  color: grey;
  margin: 5px 0 0 0;
  font-size: 11px;
  font-weight: bold;
  font-family: visby;
}

.addressText {
  font-weight: bold;
  font-size: 9px;
  font-family: visby;
}
