@import "./typography.css";

.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*from the right */

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

/*now in the middle */
.fade-enter-done .page {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
}

/*animate on this class
  this is a class happening the the to be shownpage 

*/
.fade-enter.fade-enter-active .page {
  animation: cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation-name: run;
  animation-duration: 0.3s;
  /*`transition: opacity 250ms ease-in;*/
  opacity: 1;
}

@keyframes run {
  0% {
    left: -100%;
    right: 100%;
  }
  50% {
    left: -50%;
    right: 50%;
  }
  100% {
    left: 0;
    right: 0;
  }
}

/* overrides the material ui preset */

.MuiBottomNavigationAction-label {
  font-family: visby !important;
}

.Mui-focused {
  opacity: 1;
  color: black !important;
}

.MuiTextField-root {
  margin-top: 1em !important;
}

.MuiOutlinedInput-root {
  border-color: black;
  border-width: 1px;
  border-style: "solid";
}
