@font-face {
  font-family: "visby";
  src: url("../fonts/VisbyRoundCF-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "visby";
  src: url("../fonts/VisbyRoundCF-Bold.otf");
  font-weight: bold;
}
